.banner{
    height: 500px;
    width: 100%;
    background-image: url('../../../../assets/imgs/dashboard-banner.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    padding-right: 10%;
    padding-left: 10%;
}